.swatch-item {
  width: 7.625rem;
  height: 7.625rem;
  margin: 0.5rem;
  color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: border-color 250ms ease;
}

@media only screen and (max-width: 327px) {
  .swatch-item {
    width: 100%;
  }
}
